* {
    margin: 0;
    padding: 0;
}

.wraper {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.wraper .active {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}